
<%= form_with(model: @blog_post, local: true, html: { multipart: true }) do |form| %>
<%# <%= form_with model: @blog_post do |form| %> 
<div>
    <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |errMsg| %>
            <P> <%= errMsg %> </p>
        <%end%>
    <%end%>
</div>
<div>
    <%= form.label :title%>
    <%= form.text_field :title%>
</div>
<div>
    <%= form.label :content%>
    <%= form.rich_text_area :content , direct_upload: true %>
</div>
<div>
    <% if blog_post.cover_image.present?%>
        <div id="<%= dom_id(blog_post,:cover_image) %>"%>
            <%= image_tag blog_post.cover_image, class:"w-1/2" %>
            <%= link_to "Remove Cover Image",blog_post_cover_image_path(blog_post) , data: {turbo_method: :delete , turbo_confirm: "Are you Sure! " }%>
        </div>
    <%end%>
    <%= form.label :cover_image%>
    <%= form.file_field :cover_image , direct_upload: true %>
</div>

<div>
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at %>
</div>
    <%= form.hidden_field :draft, id: 'draft_field' %>
    <%= form.button %>
    <%= form.button 'Save as Draft', name: 'commit', value: 'Save as Draft', formnovalidate: true, onclick: "document.getElementById('draft_field').value = 'true';" %>
<%end%>